.signin-page-container {
  display: flex;
  flex-direction: column;
}

.card-container-signin-1 {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.signin-fade-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%); /* Adjust the brightness as needed */
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
.card-container-signin-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
